#!/usr/bin/env bash

export APP_NAME="MATCH-SCORE"
export DEBUG="true"
export APP_ENCODING="UTF-8"
export APP_DEFAULT_LOCALE="en_US"
export APP_DEFAULT_TIMEZONE="UTC"
export APP_FULL_BASE_URL="http://localhost:8000"
export SECURITY_SALT="__SALT__"

# Database Postgres Configs
export DB_HOST="127.0.0.1"
export DB_USERNAME="match-score"
export DB_PASSWORD="3SI94b2qgt8Rg7prq4wP2oxn"
export DB_DATABASE="match-score"
export DB_PORT=54324


# Redis Configs
export REDIS_HOST="127.0.0.1"
export REDIS_PORT=63794
export REDIS_DB=0
export REDIS_PASSWORD="8uWGdLYj9Pm6ste2RUckSFiH4357gr"
